* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

/* HEADER */

header {
  width: 100%;
  background-color: #1f2937;
  height: 500px;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

nav h3 {
  font-size: 24px;
  color: #f9faf8;
}

ul {
  list-style: none;
  display: flex;
  gap: 90px;
}

ul li a:link {
  font-size: 18px;
  color: #e5e7eb;
}

ul li a:hover {
  text-decoration: underline;
}

ul li a:visited {
  color: #e5e7eb;
}

main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
  margin-bottom: 10px;
}

main p {
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 10px;
}

.img-main {
  width: 40%;
  border-radius: 5%;
}

.btn-first {
  background: #3883f6;
  border: none;
  border-radius: 8px;
  padding: 10px 30px;
}

.btn a {
  color: #fff;
  font-weight: 700;
}

/* SECTION ONE */

.flex-section-one {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.section-one {
  height: 400px;
}

.section-one h2 {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  padding: 30px;
  margin-bottom: 30px;
}

.section-one img {
  width: 250px;
  height: 150px;
  margin-bottom: 3px;
  border-radius: 8%;
}

.section-one p {
  text-align: center;
  color: rgb(31, 29, 29);
}

/* SECTION TWO */

.container-two {
  /* margin: 0 auto; */
}

.section-two {
  height: 280px;
  background: #e5e7eb;
  padding: 20px;
}

.section-two p {
  color: #1f2937;
  font-size: 20px;
  font-weight: 300;
  padding-top: 50px;
  margin-bottom: 5px;
  text-align: center;
}

.section-two span {
  margin-left: 64%;
  font-weight: 700;
}

/* SECTION THREE */

.section-three {
  height: 150px;
}

.container-section-three {
  display: flex;
  justify-content: space-evenly;
  background: #3883f6;
  width: 50%;
  margin: 80px auto;
  padding: 25px;
  border-radius: 10px;
}

.firstp-box {
  margin-bottom: 2px;
  color: #fff;
  font-weight: 700;
}

.secondp-box {
  color: #e5e7eb;
  font-size: 14px;
  font-weight: 300px;
}

.btn-two {
  background: #3883f6;
  border-color: #fff;
  border-radius: 8px;
  padding: 10px 30px;
}
